.sign-in {
  width: 30vw;
  display: flex;
  flex-direction: column;
}

.sign-in > .title {
  margin: 10px 0;
}

.sign-in .buttons {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .sign-in {
    width: 100%;
  }

  .buttons > button {
    min-width: 100px;
  }
}
